.header {
  grid-area: h;
}
.header img {
  border-radius: 12px;
  float: right;
  height: 35px;
  width: 40px;
  margin:15px;
  position: absolute; 
  top: -10px; 
  right: 150px;
  padding: 10px;
}
.example button {
  border-radius:3px;
  position: absolute; 
  top:14px;
  padding: 12px;
  background:#e9ebee;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  margin:1px;
  width: 30px;
}
.search {
border-radius: 5px;
width: 300px;
height: 20px;
margin: 15px;
}